* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}
.loaderContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textLoader {
  margin-top: 20px;
  font-size: 1.3vw;
}
